RewriteEngine On

RewriteRule ^$ /users.html [L,R=302]

RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
RewriteRule ^(.*)$ public/$1 [L]

RewriteCond %{THE_REQUEST} /public/ [NC,OR]
RewriteCond $1 !^public/
RewriteRule ^(.*)$ index.php [L,QSA]